<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% Items.forEach(element => { %>
  <form action="/checked" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        onchange="this.form.submit()"
        value="<%= element._id %>"
      />
      <p><%= element.name %></p>
    </div>
  </form>
  <% }) %>

  <form action="/" method="post" class="item">
    <input
      type="text"
      name="newItem"
      placeholder="New item"
      autocomplete="off"
    />
    <button type="submit" name="listBtn" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer') -%>
